
// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(88, 17, 24);
$contrastcolor: rgb(232, 217, 217);

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
//   justify-content: center;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
    //   font-size: large;
    }
  }
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.spic {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}

.maintitle {
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    margin:1em;  
    font-size: 35px;
    padding: 0 0 0 30px;
    // padding-top: 0.3rem;
    color: rgb(33, 204, 24);
    
}

body {
    background-image: url ("https://images.pexels.com/photos/866351/pexels-photo-866351.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: rgb(199, 226, 235);

  
}

.about {
    text-align: right;
    padding: 25px;
}

.create {
    padding: 25px;
}

.spic-title {
    text-decoration: none;
}
.back {
    margin: 15px;
    margin-right: 35px;
    background-color: black;
    color: white;
}
.delete-btn {
    background-color: lightsalmon;
    margin: 15px;
}
.edit-btn {
    background-color: rgb(158, 162, 62);
    margin-right:15px ;

}

